[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-binance = "*"
numpy = "*"
websocket-client = "*"
TA-Lib = "*"
pprintpp = "*"
matplotlib = "*"
mplfinance = "*"
pandas = "*"
DateTime = "*"

[dev-packages]

[requires]
python_version = "3.9"
